#!/usr/bin/env python
# -*- coding: utf-8 -*-


overriding_conf = {"gate":{"hostname":"someHostname","port":22,"username":"someUserName","password":"somePassword"},"destination":{"hostname":{"fromweb":"someWebAddressGivingPlainTextPageWithIPToReachOnFirstLine"}}}

