#!/usr/bin/env python
from sys import argv,exit
from commands import getoutput as r
def run(args): print r(args)
p1,p2="real","fake"
def usage():
	print "usage: %s %s|%s" % (argv[0],p1,p2)
	exit(2)
if len(argv) != 2 or argv[1] not in (p1,p2): usage()
a = argv[1]
p = "provided_login_info.py"
tmpl = "#!/usr/bin/env python\n# -*- coding: utf-8 -*-\nusername,password='%s','%s'\n" 
fp = open(p,"w")
if a==p1:
	print "writing"
	fp.write(tmpl % ("MYLOGIN","MYPASSWORD"))
	fp.close()
	print "catting to you:"
	run("cat "+p)
	print "Done putting real login+pass."
else:
	print "writing"
	fp.write(tmpl % ("someusername","somepassword"))
	fp.close()
	print "catting to you:"
	run("cat "+p)
	print "Done putting template login+pass."
exit(0)

